* {
    -fx-font-size: 16px;
    -fx-font-family: "WenQuanYi Zen Hei Mono";
}

.table-view {
    -fx-background-color: transparent;
}

.table-view * {
    -fx-font-size: 15px;
}

.table-view .column-header-background .filler {
    -fx-background-color: #ffffff;
}

.table-view .column-header-background .nested-column-header, .table-view .column-header-background .filler {
    -fx-border-color: #7F7F7F;
    -fx-border-width: 0 0 1px 0;
}

.table-view .table-column {
    -fx-alignment: center-left;
}

.table-view .table-cell * {
    -fx-font-family: "WenQuanYi Zen Hei Mono";
    -fx-font-weight: bold;
}

.table-view .table-row-cell:even {
    -fx-background: #FFFFFF;
}

.table-view .column-header-background .column-header {
    -fx-background-color: #F5F5F5;
    -fx-border-width: 0 1px 1px 0;
    -fx-border-color: #EDEDED;
    -fx-border-style: solid;
}

.table-view .table-row-cell:odd {
    -fx-background: #EFF7FF;
}

.table-view .table-row-cell:empty {
    -fx-background: white;
}

.table-view .scroll-bar:vertical, .tree-view .scroll-bar:vertical {
    -fx-pref-width: 15px;
}

.table-view .scroll-bar:horizontal, .tree-view .scroll-bar:horizontal {
    -fx-pref-height: 15px;
}

.scroll-bar .decrement-button {
    -fx-background-color: #fefefe;
}

.scroll-bar .thumb {
    -fx-background-color: #fbfbfb;
}

.scroll-bar .track {
    -fx-background-color: #c3c3c3;
}

.tab-pane *.tab-header-area *.tab-header-background {
    -fx-background-color: transparent;
}

.tab-pane .tab-header-area {
    -fx-background-color: #ffffff;
    -fx-padding: 0;
}

.tab {
    -fx-background-color: #F5F5F5;
    -fx-border-color: #7F7F7F;
    -fx-border-width: 0px 1px 0 0;
    -fx-border-style: solid;
}

.tab .progress-indicator {
    -fx-pref-width: 20px;
}

.tab:selected {
    -fx-background-color: #ffffff;
}

.jfx-slider .thumb {
    -fx-pref-width: 7px;
    -fx-pref-height: 7px;
}

.null-style {
    -fx-text-fill: #D7e7f5 !important;
}

.change-style {
    -fx-background-color: #FFE48F !important;
}

.tree-view .tree-cell:selected, .table-view .table-cell:selected {
    -fx-background-color: #3962EF;
}

.split-pane {
    -fx-background-color: #ffffff;
}

.split-pane-divider {
    -fx-pref-width: 5px;
    -fx-background-color: #f5f5f5;
}

.edit-choice-box, .edit-choice-box .text-field {
    -fx-background-color: #ffffff;
}

.edit-choice-box {
    -fx-border-color: #afafaf;
    -fx-border-width: 1px;
}