* {
    -fx-font-size: 16px;
    -fx-font-family: "Source Han Serif CN Light";
}

.table-column {
    -fx-alignment: center-left;
}

.table-view .scroll-bar:vertical, .tree-view .scroll-bar:vertical {
    -fx-pref-width: 10px;
}

.table-view .scroll-bar:horizontal, .tree-view .scroll-bar:horizontal {
    -fx-pref-height: 10px;
}

.tab-label, .column-drag-header .label {
    -fx-pref-width: 100px;
    -fx-text-alignment: center;
}

.tab-pane *.tab-header-area *.tab-header-background {
    -fx-background-color: transparent;
}

.tab {
    -fx-font-size: 15px;
}

.jfx-slider .thumb {
    -fx-pref-width: 7px;
    -fx-pref-height: 7px;
}

.null-style {
    -fx-text-fill: #D7e7f5 !important;
}

.change-style {
    -fx-background-color: #FFE48F !important;
}

.tree-view .tree-cell:selected {
    -fx-background-color: #3962EF;
}