* {
    -fx-font-size: 1.1em;
    -fx-font-family: "WenQuanYi Zen Hei Mono";
}

.table-view {
    -fx-background-color: transparent;
}

.table-view * {
    -fx-font-size: 0.95em;
}

.table-view .column-header-background .filler {
    -fx-background-color: #ffffff;
}

.table-view .column-header-background .nested-column-header {
    -fx-border-color: #f4f4f4;
    -fx-border-width: 0.17em 0em 0em 0em;
}

.table-view .column-header-background .filler {
    -fx-border-color: #f4f4f4;
    -fx-border-width: 0em 0em 0.17em 0em;
}

.table-view .table-column {
    -fx-alignment: center-left;
}

.table-view .table-row-cell:even {
    -fx-background: #FFFFFF;
}

.table-view .column-header-background .column-header {
    -fx-background-color: #F5F5F5;
    -fx-border-width: 0 0.08em 0.08em 0;
    -fx-border-color: #EDEDED;
    -fx-border-style: solid;
}

.table-view .table-row-cell:odd {
    -fx-background: #EFF7FF;
}

.table-view .table-row-cell:empty {
    -fx-background: white;
}

.table-view .scroll-bar:vertical, .tree-view .scroll-bar:vertical {
    -fx-pref-width: 1.08em;
}

.table-view .scroll-bar:horizontal, .tree-view .scroll-bar:horizontal {
    -fx-pref-height: 1.08em;
}

.scroll-bar .decrement-button {
    -fx-background-color: #fefefe;
}

.scroll-bar .thumb {
    -fx-background-color: #fbfbfb;
}

.scroll-bar .track {
    -fx-background-color: #c3c3c3;
}

.tab-pane *.tab-header-area *.tab-header-background {
    -fx-background-color: transparent;
}

.tab-pane .tab-header-area {
    -fx-background-color: #ffffff;
    -fx-padding: 0em;
}

.tab {
    -fx-background-color: #F5F5F5;
    -fx-border-color: #f4f4f4;
    -fx-border-width: 0em 0.17em 0em 0em;
    -fx-border-style: solid;
}

.tab .progress-indicator {
    -fx-pref-width: 1.7em;
}

.tab:selected {
    -fx-background-color: #ffffff;
}

.null-style {
    -fx-text-fill: #D1d4d7 !important;
}

.change-style {
    -fx-background-color: #FFF0FF !important;
}

.tree-view .tree-cell:hover {
    -fx-background-color: #C1CEFA;
}

.tree-view .tree-cell:selected, .table-view .table-cell:selected {
    -fx-background-color: #3962EF;
}

.split-pane {
    -fx-background-color: #ffffff;
}

.split-pane-divider {
    -fx-pref-width: 0.417em;
    -fx-background-color: #f5f5f5;
}

.edit-choice-box, .edit-choice-box .text-field {
    -fx-background-color: #ffffff;
}

.edit-choice-box {
    -fx-border-color: #afafaf;
    -fx-border-width: 0.083em;
}

.context-menu {
    -fx-background-color: #ffffff;
    -fx-border-width: 0.083em;
    -fx-border-color: #BDBDBD;
}

.progress-indicator {
    -fx-pref-width: 1.67em;
    -fx-pref-height: 1.67em;
}

.work-station-pane {
    -fx-background-color: #ffffff;
}

.check-box {
    -fx-border-width: 0.083em;
    -fx-border-color: #949494;
}

.check-box * {
    -fx-background-color: transparent;
}

.check-box:selected {
    -fx-background-color: #50B1FF;
}