.bottom-box {
    -fx-alignment: center-right;
    -fx-padding: 3px 6px;
    -fx-spacing: 6px;
}

.split-pane-divider, .bottom-box {
    -fx-background-color: #f5f5f5;
}

.menu-bar {
    -fx-background-color: #fafafa;
}

.tab-pane {
    -fx-background-color: #ffffff;
}

.tree-view {
    -fx-background-color: #ffffff;
}

.bottom-box > .jfx-button {
    -fx-padding: 3px;
}