.bottom-box {
    -fx-alignment: center-right;
    -fx-padding: 3px 6px;
    -fx-spacing: 6px;
}

.menu-bar {
    -fx-background-color: #f5f5f5;
}

.button-bar {
    -fx-padding: 1px 10px;
    -fx-background-color: #F8F8F8;
    -fx-border-width: 1px;
    -fx-border-color: #DCDCDC #F8F8F8;
}

.button-bar .button {
    -fx-background-color: #F8F8F8;
    -fx-border-color: #F8F8F8;
    -fx-border-width: 1px;
}

.button-bar .button:focused {
    -fx-background-color: #E8E8E8;
    -fx-border-color: #AFAFAF;
}

.button-bar .button:hover {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #AFAFAF;
}

.split-pane-divider, .bottom-box {
    -fx-background-color: #f5f5f5;
}

.menu-bar {
    -fx-background-color: #fafafa;
}

.tab-pane {
    -fx-background-color: #ffffff;
}

.tree-view {
    -fx-background-color: #ffffff;
}

.bottom-box > .jfx-button {
    -fx-padding: 3px;
}