.root, .text-field {
    -fx-background-color: #ffffff;
}

.table-view .table-column .table-cell {
    -fx-alignment: center;
}

.top-box, .top-box .button {
    -fx-background-color: #f5f5f5;

}

.top-box {
    -fx-padding: 5px;
    -fx-spacing: 10px;
}

.top-box .button {
    -fx-border-width: 1px;
    -fx-border-color: #F5F5F5;
    -fx-border-radius: 3px;
}

.top-box .button:hover {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #afafaf;
}