.root, .text-field, .choice-box, .check-box {
    -fx-background-color: #ffffff;
}

.choice-box {
    -fx-border-color: #afafaf;
    -fx-border-width: 1px;
}

.table-view .table-column .table-cell {
    -fx-alignment: center;
}

.top-box, .top-box .button {
    -fx-background-color: #f5f5f5;

}

.top-box {
    -fx-padding: 5px;
    -fx-spacing: 10px;
}

.top-box .button {
    -fx-border-width: 1px;
    -fx-border-color: #F5F5F5;
    -fx-border-radius: 3px;
}

.top-box .button:hover {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #afafaf;
}

.design-table-option .choice-box {
    -fx-pref-width: 300px;
}

.design-table-option {
    -fx-padding: 10px;
}

.table-view .table-row-cell:even {
    -fx-background: #FFFFFF !important;
}

.table-view .table-row-cell:odd {
    -fx-background: #FFFFFF !important;
}

.table-view .table-cell {
    -fx-padding: 0;
}