.search-popup {
    -fx-background-color: #FFFFFF;
    -fx-spacing: 15px;
    -fx-alignment: center;
    -fx-padding: 5px 10px;
}

.search-popup HBox {
    -fx-spacing: 10px;
}

.search-popup .left-box {
    -fx-alignment: center-left;
}

.search-popup .right-box {
    -fx-alignment: center-right;
}