.search-popup {
    -fx-background-color: #FFFFFF;
    -fx-spacing: 1.25em;
    -fx-alignment: center;
    -fx-padding: 0.42em 0.83em;
}

.search-popup HBox {
    -fx-spacing: 0.83em;
}

.search-popup .left-box {
    -fx-alignment: center-left;
}

.search-popup .right-box {
    -fx-alignment: center-right;
}