.root {
    -fx-background-image: url(../assets/images/splash.png);
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.bottom-box {
    -fx-spacing: 10px;
    -fx-padding: 10px;
}

.bottom-box .label {
    -fx-text-fill: white;
    -fx-font-size: 20px;
}