.top-box {
    -fx-padding: 0.83em;
    -fx-spacing: 0.83em;
}

.top-box HBox {
    -fx-spacing: 0.42em;
    -fx-alignment: CENTER;
}

.top-box {
    -fx-pref-width: 8.3em;
}

.top-box .choice-box {
    -fx-pref-width: 16.67em;
}
.action-box {
    -fx-background-color: #f5f5f5;
    -fx-padding: 0.42em;
}

.action-box .button {
    -fx-background-color: #f5f5f5;
    -fx-border-color: #f5f5f5;
    -fx-border-width: 0.083em;
}

.action-box .button:hover{
    -fx-border-color: #AFAFAF;
}