.root {
    -fx-padding: 0.42em;
}

VBox {
    -fx-spacing: 1.25em;
}

.type-box {
    -fx-spacing: 1.67em;
}

.content-box {
    -fx-padding: 1.25em 0em 0em 0em;
}

.bottom-box {
    -fx-alignment: CENTER_RIGHT;
    -fx-spacing: 0.83em;
    -fx-padding: 0.83em 0em 0.83em 0em;
}