.bottom-box HBox {
    -fx-padding: 3px 5px;
    -fx-spacing: 10px;
    -fx-alignment: center-right;
}

.bottom-box .jfx-text-field {
    -fx-pref-width: 70px;
    -fx-alignment: center;
}

.bottom-box .jfx-button {
    -fx-padding: 2px;
}

.table-cell {
    -fx-text-fill: black;
}

.table-view * {
    -fx-font-size: 14px;
}
