.table-text-field {
    -fx-border-width: 0.083em;
    -fx-border-color: red;
    -fx-background-color: #FFFFFF;
    -fx-spacing: 0em;
    -fx-alignment: center;
    -fx-padding: 0.17em 0.083em;
}

.table-text-field .text-field {
    -fx-border-width: 0em;
    -fx-background-color: transparent;
}

.table-text-field .button {
    -fx-background-color: #ffffff;
    -fx-border-width: 0.083em;
    -fx-border-color: #ffffff;
}

.table-text-field .button:hover {
    -fx-border-color: #AFAFAF;
}