.bottom-box {
    -fx-padding: 2px 10px;
}

.bottom-box HBox {
    -fx-spacing: 10px;
    -fx-alignment: CENTER_RIGHT;
}

.table-view * {
    -fx-font-size: 14px;
}

.bottom-box .text-field {
    -fx-pref-width: 70px;
}