.root {
    -fx-background-color: #F5F5F5;
}

.top-box {
    -fx-padding: 5px;
    -fx-background-color: #F5F5F5;
}

.top-box .button {
    -fx-background-color: #F5F5F5;
    -fx-border-color: #F5F5F5;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
}

.top-box .button:hover {
    -fx-background-color: #ffffff;
    -fx-border-color: #AFAFAF;
}

.tab-pane *.tab-header-area *.tab-header-background {
    -fx-background-color: #F5F5F5;
}

.tab-pane .tab {
    -fx-background-color: #ececec;
    -fx-border-color: #C0C0C0;
    -fx-border-width: 1px;
    -fx-border-radius: 3px 3px 0 0;
    -fx-padding: 0;
}

.tab-pane .tab .tab-label {
    -fx-padding: 5px 10px;
}

.tab-pane .tab:selected {
    -fx-background-color: #ffffff;
    -fx-border-width: 1px 1px 0 1px;
}