.root {
    -fx-background-color: #F5F5F5;
}

.top-box {
    -fx-padding: 0.42em;
    -fx-background-color: #F5F5F5;
}

.top-box .button {
    -fx-background-color: #F5F5F5;
    -fx-border-color: #F5F5F5;
    -fx-border-width: 0.083em;
    -fx-border-radius: 0.42em;
}

.top-box .button:hover {
    -fx-background-color: #ffffff;
    -fx-border-color: #AFAFAF;
}

.tab-pane *.tab-header-area *.tab-header-background {
    -fx-background-color: #F5F5F5;
}

.tab-pane .tab {
    -fx-background-color: #ececec;
    -fx-border-color: #C0C0C0;
    -fx-border-width: 0.083em;
    -fx-border-radius: 0.25em 0.25em 0em 0em;
    -fx-padding: 0em;
}

.tab-pane .tab .tab-label {
    -fx-padding: 0.42em 0.83em;
}

.tab-pane .tab:selected {
    -fx-background-color: #ffffff;
    -fx-border-width: 0.083em 0.083em 0em 0.083em;
}