.work-station {
    -fx-background-color: #ffffff;
    -fx-border-color: #50B1FF;
    -fx-border-width: 0.083em;
    -fx-border-radius: 0.83em;
    -fx-background-radius: 0.83em;
}

.list-view {
    -fx-background-color: transparent;
}

.list-view * {
    -fx-background-color: transparent;
}

.list-view .list-cell:hover {
    -fx-background-color: #F6FBFE;
}

.list-view .list-cell:selected{
    -fx-background-color: #7ac4f0;
}

.title-box {
    -fx-background-color: #3783C0;
    -fx-background-radius: 0.83em 0.83em 0em 0em;
    -fx-alignment: center;
    -fx-padding: 0.42em;
}

.title-box .label {
    -fx-text-fill: #ffffff;
}

.title-box:hover {
    -fx-background-color: #50B1FF;
}

.work-station-node {
    -fx-alignment: center;
    -fx-spacing: 0.83em;
}
